altgraph==0.17.2
asgiref==3.6.0
async-timeout==4.0.3
attrs==23.1.0
auto-py-to-exe==2.19.0
autobahn==23.1.2
Automat==22.10.0
awsebcli==3.21.0
bidict==0.23.1
blessed==1.20.0
botocore==1.35.54
bottle==0.12.19
bottle-websocket==0.2.9
cement==2.10.14
certifi==2022.9.24
cffi==1.15.1
channels==4.0.0
channels-redis==4.2.0
charset-normalizer==2.1.1
colorama==0.4.6
constantly==15.1.0
cryptography==40.0.2
daphne==4.0.0
distlib==0.3.9
Django==4.2.1
django-cors-headers==4.6.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1

Eel==0.12.4
filelock==3.16.1
future==0.18.2
gevent==24.10.3
gevent-websocket==0.10.1
git-filter-repo==2.47.0
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
jmespath==1.0.1
macholib==1.16
modulegraph==0.19.2
msgpack==1.1.0
packaging==24.2
pathspec==0.10.1
platformdirs==4.3.6
psycopg2-binary==2.9.10
py2app==0.28
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pygame==2.1.2
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
PyJWT==2.10.1
pyOpenSSL==23.1.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==0.21.0
python-engineio==4.9.1
python-socketio==5.11.4
PyYAML==6.0
redis==5.0.8
requests==2.32.3
semantic-version==2.10.0
service-identity==21.1.0
simple-websocket==1.0.0
six==1.16.0
sqlparse==0.4.4
termcolor==2.5.0
tomli==2.0.1
Twisted==22.10.0
txaio==23.1.1
typing_extensions==4.5.0
urllib3==1.26.12
virtualenv==20.27.1
wcwidth==0.2.13
whichcraft==0.6.1
wsproto==1.2.0
zope.event==4.5.0
zope.interface==6.0
